{% load humanize %}
<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <title>Mijoz Anketasi</title>
    <style>
        @page {
            size: A4;
            margin: 1cm;
        }

        body {
            font-family: "Times New Roman", Times, serif;
            font-size: 10pt;
            line-height: 1.2;
            color: #000;
        }

        .center {
            text-align: center;
            font-weight: bold;
        }

        .bold {
            font-weight: bold;
        }

        .var {
            color: #8b0000;
            font-weight: bold;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 8px 0;
            font-size: 10pt;
        }

        table,
        th,
        td {
            border: 1px solid #000;
        }

        th,
        td {
            padding: 4px 6px;
        }

        td {
            text-align: left;
            vertical-align: middle;
        }

        .label-cell {
            width: 40%;
            font-weight: bold;
            background-color: #f7f7f7;
        }

        .section-title {
            background-color: #d9d9d9;
            font-weight: bold;
            text-align: center;
            padding: 5px;
        }

        p {
            margin: 4px 0;
            text-align: justify;
        }

        .agreement-text {
            font-size: 9pt;
        }
    </style>
</head>

<body>

    <div class="center" style="font-size: 14pt; margin-bottom: 5px; text-decoration: underline;">
        MIJOZNING ANKETASI
    </div>
    <div style="font-size: 9pt; text-align: center; font-style: italic; margin-bottom: 15px;">
        Anketa kredit menejeri tomonidan mijozning javoblarini kiritish orqali to'ldiriladi, kerak bo'lganda, Mijoz
        tomonidan tanlangan javob variantlarini belgilash orqali amalga oshiriladi
    </div>

    <!-- 1. Mijoz haqida ma'lumotlar -->
    <div style="font-weight: bold; margin-bottom: 5px; text-align: center; text-transform: uppercase;">1. MIJOZ HAQIDA
        MA'LUMOTLAR:</div>
    <table style="border: none; margin-bottom: 15px;">
        <tr>
            <td style="border: none; padding: 2px 0; width: 35%;">Mijozning to'liq ismi sharifi:</td>
            <td style="border: none; padding: 2px 0;" class="var">{{ loan.client.fish }}</td>
        </tr>
        <tr>
            <td style="border: none; padding: 2px 0;">Tug'ilgan sanasi:</td>
            <td style="border: none; padding: 2px 0;">
                <span class="var">{{ loan.client.tugilgan_sana|date:"d.m.Y"}}</span> yil.
            </td>
        </tr>
        <tr>
            <td style="border: none; padding: 2px 0;">Pasport seriyasi:</td>
            <td style="border: none; padding: 2px 0;"><span class="var">{{ loan.client.pasport_seriya }}</span> <span
                    class="var">{{ loan.client.pasport_berilgan }}</span> yilda berilgan</td>
        </tr>
        <tr>
            <td style="border: none; padding: 2px 0;">Fuqaroligi:</td>
            <td style="border: none; padding: 2px 0;">O’zbekiston Respublikasi</td>
        </tr>
        <tr>
            <td style="border: none; padding: 2px 0;">Ro‘yxatdan o‘tgan manzili:</td>
            <td style="border: none; padding: 2px 0;" class="var">{{ loan.client.manzil }}</td>
        </tr>
        <tr>
            <td style="border: none; padding: 2px 0;">Haqiqatdan yashash joy manzili:</td>
            <td style="border: none; padding: 2px 0;" class="var">{{ loan.client.manzil }}</td>
        </tr>
        <tr>
            <td style="border: none; padding: 2px 0;">Ish joyi:</td>
            <td style="border: none; padding: 2px 0;"><span class="var">{{ loan.financial_info.ish_muassasa }}</span> / <span class="var">{{ loan.financial_info.ish_lavozim }}</span></td>
        </tr>
    </table>

    <!-- 2. Aloqa -->
    <div style="font-weight: bold; margin-bottom: 5px; text-align: center; text-transform: uppercase;">2. MIJOZ BILAN
        BOG'LANISH UCHUN ALOQA MA'LUMOTLARI:</div>
    <table style="border: none; margin-bottom: 15px;">
        <tr>
            <td style="border: none; padding: 2px 0; width: 35%;">Uy telefoni raqami:</td>
            <td style="border: none; padding: 2px 0;" class="var">
                {{ loan.financial_info.aloqa_uy_tel|default:"-" }}
            </td>
        </tr>
        <tr>
            <td style="border: none; padding: 2px 0;">Uyali telefon raqami:</td>
            <td style="border: none; padding: 2px 0;">
                <span class="var">{{ loan.financial_info.aloqa_uyali_tel|default:"-" }}</span>
            </td>
        </tr>
        <tr>
            <td style="border: none; padding: 2px 0;">Ish telefoni raqami:</td>
            <td style="border: none; padding: 2px 0;">
                <span class="var">{{ loan.financial_info.aloqa_ish_tel|default:"-" }}</span>
            </td>
        </tr>
    </table>

    <!-- 3. Ish joyi ma'lumotlari -->
    <div style="font-weight: bold; margin-bottom: 5px; text-align: center; text-transform: uppercase;">3. MIJOZNING ISH
        JOYI HAQIDA MA'LUMOT:</div>
    <table style="border: none; margin-bottom: 15px;">
        <tr>
            <td style="border: none; padding: 2px 0; width: 35%;">Muassasa nomlanishi:</td>
            <td style="border: none; padding: 2px 0;">
                <span class="var">
                    {{ loan.financial_info.ish_muassasa|default:"-" }}
                </span>
            </td>
        </tr>
        <tr>
            <td style="border: none; padding: 2px 0;">Ro‘yxatdan o‘tish manzili:</td>
            <td style="border: none; padding: 2px 0;">
                <span class="var">
                    {{ loan.financial_info.ish_manzil|default:"-" }}
                </span>
            </td>
        </tr>
        <tr>
            <td style="border: none; padding: 2px 0;">Lavozimi:</td>
            <td style="border: none; padding: 2px 0;" class="var">
                <span class="var">
                    {{ loan.financial_info.ish_lavozim|default:"-" }}
                </span>
            </td>
        </tr>
    </table>

    <!-- 4. Daromad va Xarajat -->
    <div style="font-weight: bold; margin-bottom: 5px; text-align: center; text-transform: uppercase;">4. MIJOZNING
        OYLIK DAROMADLARI VA XARAJATLARI HAQIDA MA'LUMOT</div>
    <table>
        <tr>
            <th>Daromad manbalari</th>
            <th>Mijoz</th>
            <th>Turmush o'rtog'i</th>
            <th>Boshqa oila a'zolari</th>
            <th>Xarajatlar</th>
            <th>Miqdori (so'm)</th>
        </tr>
        <tr>
            <td>ish haqi (asosiy ish)</td>
            <td style="text-align: right;" class="var">
                {% if loan.financial_info.daromad_asosiy %}
                {{ loan.financial_info.daromad_asosiy|intcomma }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td style="text-align: right;">-</td>
            <td style="text-align: right;">-</td>
            <td>uy-joy va kommunal xizmatlar uchun to'lov</td>
            <td style="text-align: right;" class="var">
                {% if loan.financial_info.xarajat_kommunal %}
                {{ loan.financial_info.xarajat_kommunal|intcomma }}
                {% else %}
                -
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>ish haqi (o‘rindoshlik)</td>
            <td style="text-align: right;" class="var">
                {% if loan.financial_info.daromad_orindosh %}
                {{ loan.financial_info.daromad_orindosh|intcomma }}
                {% else %}
                -
                {% endif %}
            </td>
            <td style="text-align: right;">-</td>
            <td style="text-align: right;">-</td>
            <td>oilaviy xarajatlar</td>
            <td style="text-align: right;" class="var">
                {% if loan.financial_info.xarajat_oilaviy %}
                {{ loan.financial_info.xarajat_oilaviy|intcomma }}
                {% else %}
                -
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>boshqa daromadlar</td>
            <td style="text-align: right;" class="var">
                {% if loan.financial_info.daromad_boshqa %}
                {{ loan.financial_info.daromad_boshqa|intcomma }}
                {% else %}
                -
                {% endif %}
            </td>
            <td style="text-align: right;">-</td>
            <td style="text-align: right;">-</td>
            <td>boshqa xarajatlar</td>
            <td style="text-align: right;" class="var">
                {% if loan.financial_info.xarajat_boshqa %}
                {{ loan.financial_info.xarajat_boshqa|intcomma }}
                {% else %}
                -
                {% endif %}
            </td>
        </tr>
        <tr>
            <th style="font-weight: bold;">JAMI</th>
            <th style="text-align: right; font-weight: bold;" class="var">
                {% if loan.financial_info.daromad %}
                {{ loan.financial_info.daromad|intcomma }}
                {% else %}
                    -
                {% endif %}
            </th>
            <th style="text-align: right; font-weight: bold;">-</th>
            <th style="text-align: right; font-weight: bold;">-</th>
            <th style="font-weight: bold;">JAMI: </th>
            <th style="text-align: right; font-weight: bold;" class="var">
                {% if loan.financial_info.xarajatlar %}
                {{ loan.financial_info.xarajatlar|intcomma }}
                {% else %}
                -
                {% endif %}
            </th>
        </tr>
    </table>

    <div class="agreement-text" style="margin-top:20px;">
        <p>Men, <span class="var">{{ loan.client.fish }}</span>, ushbu anketada ko‘rsatilgan barcha ma'lumotlar anketa
            to'ldirilgan sanada to'g'ri va aniq ekanligini tasdiqlayman.</p>
        <p>Men, <span class="var">{{ loan.client.fish }}</span>, quyidagilarni tan olaman va roziman:</p>
        <p>1. Ushbu anketada ko‘rsatilgan har qanday ma’lumot «PULLOL BUSINESS MIKROMOLIYA TASHKILOTI» MChJ, uning
            xodimlari va huquqiy vorislari tomonidan istalgan manba va ma’lumotlardan foydalangan holda istalgan vaqtda
            tekshirilishi va qayta tekshirilishi mumkin.</p>
        <p>2. Mazkur anketaning «PULLOL BUSINESS MIKROMOLIYA TASHKILOTI» MChJ tomonidan qabul qilinishi «PULLOL BUSINESS
            MIKROMOLIYA TASHKILOTI» MChJ tomonidan menga mikroqarz berish majburiyatini yuklamaydi.</p>
        <p>Men, <span
                style="display:inline-block; border-bottom: 1px solid #000; width: 300px; text-align:center;">&nbsp;</span>
            (to'liq ismi sharifi), ushbu anketadagi barcha ma'lumotlar anketa to'ldirilgan sanada to'g'ri ekanligini
            tasdiqlayman va ushbu anketaning 1- va 2-bandlarini tan olaman va ularga rozilik bildiraman. Mazkur
            anketaning 4-bo'limida ko'rsatilgan daromadlarim haqidagi ma'lumotlarni qabul qilishingizni va moliyaviy
            tahlilda foydalanishingizni so’rayman.</p>
    </div>

    <table style="margin-top: 40px; border: none;">
        <tr>
            <td style="border: none; width: 45%; text-align: left; padding: 0;">Mijozning to'liq ismi sharifi:
                <br><strong><span class="var">{{ loan.client.fish }}</span></strong>
            </td>
            <td style="border: none; width: 25%; text-align: center; padding: 0;">Sana: <br><strong>
                    <span class="var">
                        {{loan.details.shartnoma_sanasi|date:"d.m.Y" }}
                    </span></strong>
            </td>
            <td style="border: none; width: 30%; text-align: left; padding: 0;">Imzo: <br>_____________________</td>
        </tr>
    </table>


</body>

</html>